{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet", href="{% static 'css/style.css' %}" >
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    
    <h1> Templates as a response</h1>
    <p>{{great}}</p>
    {% if x > y %}
        <p>in if block</p>
        <p>{{x}} is greater</p>
    {% else %}
        <p>in else block</p>
        <p>{{y}} is greater</p>
    {% endif %}

    <p> List is:{{l}}</p>
    {% for x in l %}
    <p>{{x}}</p>
    {% endfor %}
    
    <h1>{{product}}</h1><br>
    {% for x in product %}
    <p>{{x}}</p>
    {% endfor %}
    <button onclick="greet()">click me</button>
    <br>


    <img src="{% static 'images/dragon.jpg' %}">

</body>
</html>
